<% cache columns do %>
  <%= turbo_frame_tag :card_columns do %>
    <div class="card-columns" data-controller="related-element" data-related-element-highlight-class="cards--related">
      <% unless columns.user_filtering.only_closed? %>
        <%= render "cards/index/engagement/on_deck", column: columns.on_deck %>
        <%= render "cards/index/engagement/considering", column: columns.considering %>
        <%= render "cards/index/engagement/doing", column: columns.doing %>
      <% end %>
    </div>

    <%= render "cards/index/engagement/closed", column: columns.closed %>
  <% end %>
<% end %>
